.btn{
    padding: 1rem 1.5rem;
    margin: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.5s;
    border: none;
}

.btn-primary, .btn-secondary:hover{
}

.btn-secondary{
    border: 2px solid ;
}

.btn-primary:hover{
}