.card-img{
    max-width: 350px;
    height: auto;
}

.card{
    display: inline-block;
    margin: 50px;
    text-align: center;
    font-family: sans-serif;
}

.card-type{
    font-weight: bold;
    margin: 10px 0;
}

.card-name{
    font-style: italic;
    margin-bottom: 20px;
}