.header{
    @include container;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-menu-links{
    padding: 1rem;
    color: $mainColor;
}

.header-menu-links:hover{
    text-decoration: underline;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
}