.log{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding-top: 0px;
}

.type-log{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    width: 30%;
}

.illustration{
    width: 70%;
}

// .log h2{
//     font-size: 40px;
//     font-weight: bold;
//     text-align: center;
//     margin-bottom: 20px;
//     font-family: sans-serif;
//     color: $mainColor;
// }